.catalog {
  margin: 0 20px;
}

.catalog__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog__promotion {
  display: block;
  width: 280px;
  height: 290px;
  background-image: url("../img/catalog-promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog__promo-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 190px;
}
