.catalog {

  margin: 0 20px;

  &__header {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__promotion {
    display: block;
    width: 280px;
    height: 290px;
    background-image: url("../img/catalog_promo_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__promo-text {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 190px;
  }
}
