.example {
  background-color: #eaeaea;
  margin: 0;
  padding: 0 20px 45px 20px;
}

.example__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__text {
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

_.example__results {
}
