.example {
  background-color: #eaeaea;
  margin: 0;
  padding: 0 20px 45px 20px;

  &__heading {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }

  &__text {
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }

  &__results {
  }

}
