.filter {
  text-transform: uppercase;
  margin-top: 10px;

  &__name {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }

  &__input {
    padding: 13px 15px;
  }
}
