.filter {
  text-transform: uppercase;
  margin-top: 14px;
  padding: 0;
  position: relative;
}

.filter__name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.filter__input::-webkit-input-placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
  min-width: none;
}

.filter__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 12px;
  align-items: center;
  position: relative;
}

.filter__input {
  min-width: 0;
  padding: 13px 15px 13px 15px;
  border: 1px solid #e7e7e7;
}

.filter__pic {
  position: absolute;
  right: 10px;
}

.filter__input--comment {
  min-height: 150px;
  width: 250px;
}

@media (min-width: @tablet-width) {
  .filter {
    margin-top: 20px;
  }

  .filter__input--comment {
    min-height: 150px;
    width: 590px;
  }

  .filter__name {
    font-size: 20px;
    line-height: 30px;
  }

  .filter__input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .filter__input--comment {
    min-height: 150px;
    width: 1180px;
  }
}
