.form {
  font-family: "Oswald",sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0 20px;
  color: #000000;

  &__heading {
    font-size: 36px;
    line-height: 36px;
  }

  &__instruction {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__star {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}
