.form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #000000;
}

.form__heading {
  padding: 0 20px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.form__instruction {
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: -6px;
}

.form__filter {
  margin: 0;
  position: relative;
}

.form__star {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__wrapper {
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .form__heading {
    padding: 0 70px;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }

  .form__instruction {
    padding: 0 70px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .form__wrapper {
    padding: 0 70px;
    display: flex;
    gap: 60px;
    margin-bottom: 72px;
  }

  .form__button {
    width: 282px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .form__star {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form__heading {
    padding: 0 110px;
  }

  .form__instruction {
    padding: 0 110px;
  }

  .form__wrapper {
    padding: 0 110px;
    margin-bottom: 82px;
    gap: 81px;
  }

  .form__button {
    width: 568px;
  }


}
