.header {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.header__wrapper {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.header__logo-text {
  margin-top: 13px;
  margin-left: 56px;
}

.header__main-nav {
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .header {
    margin-top: 24px;
    justify-content: flex-start;
  }

  .header__main-nav {
    margin-left: auto;
  }

  .header__logo {
    margin-right: 12px;
  }

  .header__wrapper {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    padding: 0 110px;
    padding-top: 32px;
  }
}
