.header {
  margin: 0;
  padding: 0px 20px 15px 20px;
}


.header__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.header__logo-text {
  margin-top: 13px;
}

/*
@media (min-width: @tablet-width) {
  .header {
    justify-content: flex-start;
  }

  .header__main-nav {
    margin-left: auto;
  }

  .header__logo {
    margin-right: 12px;
  }
}
*/
