.location {
  padding: 0;
  margin: 0;
}

.location__text {
  padding: 26px;
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
}

.location__invitation {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.location__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

.location__map {
  background: none;
}
