.main-nav {
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  background-image: url("../img/main-nav-logo.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}
