.main-nav {


  &__toggle {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    background-image: url("../img/main-nav__logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
  }
}
