.product {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
}

.product__name{
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product__img {
  margin: 0;
}

.product__wrapper {
  width: 140px;
  padding: 0;
  margin: 0;
}

.product__properties {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__properties td:nth-child(2) {
  text-align: right;
}

.product__order {
  margin: 13px 0px 5px 0px;
}
