.promo {
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding: 0 20px;
}

.promo__heading {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.promo__button {
  display: flex;
  width: 244px;
  height: 54px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
}

.promo__button-text {
  margin: auto;
}
