.socials {
  display: flex;
}

.socials__list {
  list-style-type: none;
  display: flex;
  gap: 36px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.socials__item {
  display: block;
  width: 22px;
  height: 22px;
}

.socials__logo {
  margin: auto;
}

.socials__button {
  display: flex;
  width: 100%;
  height: 100%;
}
