.stats {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  &__number-wrapper {
    display: flex;
    width: 124px;
    height: 56px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
  }
  &__number {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin: auto;
  }

  &__explanation {
    font-family: "Arial", sans-serif;
    font-style: 12px;
    color: #444444;
    background-color: #eaeaea;
    text-align: center;
  }

  &__cost  {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}
