.stats {
  background: none;
}

.stats__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 32px;
  margin-bottom: 6px;
}

.stats__item {
  margin: 0;
  padding: 0;
}

.stats__number-wrapper {
  display: flex;
  min-height: 56px;
  min-width: 122px;
  border: 1px solid @special_grey;
  border-radius: 3px;
}

.stats__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: auto;
}

.stats__explanation {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
  background-color: #eaeaea;
  text-align: center;
  display: block;
  width: 77px;
  position: relative;
  left: 24px;
  top: -12px;
}

.stats__cost {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .stats__list {
    gap: 40px;
  }

  .stats__number-wrapper {
    min-width: 162px;
    min-height: 72px;
  }

  .stats__number {
    font-size: 30px;
  }

  .stats__explanation {
    width: max-content;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    left: unset;
    margin-left: auto;
    margin-right: auto;
    top: -6px;
  }

  .stats__cost {
    margin-top: 6px;
    margin-left: auto;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
  .stats {
    display: flex;
    margin-bottom: 234px;
    padding: 0 30px;
  }

  .stats__explanation {
    background-color: @white;
  }

  .stats__cost {
    width: 175px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .stats__list {
    justify-content: flex-start;
    gap: 40px;
  }

  .stats__item {
    margin: 0;
  }

  .stats__explanation {
    top: -8px;
  }

  .stats__cost {
    margin-top: 40px;
    display: flex;
    gap: 63px;
  }
}
