.stats {
  background: none;
}

.stats__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 32px;
  margin-bottom: 6px;
}

.stats__item {
  margin: 0;
  padding: 0;
}

.stats__number-wrapper {
  display: flex;
  height: 56px;
  width: 122px;
  border: 1px solid @special_grey;
  border-radius: 3px;
}

.stats__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: auto;
}

.stats__explanation {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
  background-color: #eaeaea;
  text-align: center;
  display: block;
  width: 77px;
  position: relative;
  left: 24px;
  top: -12px;
}

.stats__cost {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
