@import "header.less";
@import "footer.less";
@import "button.less";
@import "main-nav.less";
@import "promo.less";
@import "types.less";
@import "description.less";
@import "example.less";
@import "stats.less";
@import "location.less";
@import "contacts.less";
@import "socials.less";
@import "academy.less";
@import "catalog.less";
@import "product.less";
@import "main-products.less";
@import "other-products.less";
@import "show-more.less";
@import "form.less";
@import "filter.less";
@import "filter-group.less";
@import "radio-filter.less";
@import "checkbox-filter.less";
@import "visually-hidden.less";

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}

@basic_green: #68B738;
@white: #ffffff;
@basic_grey: #F2F2F2;

body {
  background-color: @white;
  width: 320px;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
