.types {
  margin: 0;
  padding: 0 20px;
}

.types__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.types__item {
  background-color: @basic_grey;
  padding: 22px;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.types__pic {
  margin: 0;
  padding: 0;
}

.types__item:nth-child(2) .types__pic {
  position: relative;
  left: -10px;
}

.types__name {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.types__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  grid-column: 1/3;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;
  padding-top: 22px;
}

.types__catalog {
  padding-top: 19px;
  grid-column: 1/3;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: 400;

  &:hover {
    color: #000000;
  }

  &:hover .types__arrow {
    width: 32px;
    background-image: url("../img/long-arrow.svg");
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.types__catalog-link {
  margin: 0;
  padding: 0;
}

.types__arrow {
  margin: 0;
  padding: 0;
  margin-left: 13px;
  width: 24px;
  height: 12px;
  background-image: url("../img/arrow.svg");
}

@media (min-width: @tablet-width) {
  .types {
    padding: 0 30px;
    margin-top: -15px;
  }

  .types__list {
    gap: 30px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
  .types__item {
    display: block;
    padding: 77px 316px 57px 52px;
    position: relative;
  }

  .types__item:nth-child(2) .types__pic {
    position: absolute;
    left: unset;
  }

  .types__pic {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 62px;
  }

  .types__name {
    font-size: 36px;
    line-height: 36px;
  }

  .types__description {
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding-top: 24px;
    padding-bottom: 52px;
  }

  .types__catalog-link {
    font-size: 20px;
    line-height: 30px;
  }

  .types__arrow {
    margin-left: 25px;
  }
}

@media (min-width: @desktop-width) {
  .types {
    padding: 0 110px;
    margin-top: 44px;
  }

  .types__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .types__item {
    padding: 47px 52px 59px 52px;
    grid-template-columns: 162px 1fr;
  }

  .types__pic {
    width: 100px;
    height: 100px;
  }

  .types__name {
    font-size: 36px;
  }

  .types__description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
    border: none;
  }

  .types__catalog {
    padding-top: 10px;
    padding-bottom: 6px;
    font-size: 20px;
  }

  .types__arrow {
    margin-left: 24px;
  }
}
